/target
/images/*
!/images/midnight.jpg
!/images/forest.jpg
!/images/ocean.jpg
!/images/strawberry.jpg
!/images/bumblebee.jpg
!/images/crimson.jpg
!/images/aqua.jpg
!/images/lavender.jpg
!/images/emerald.jpg
!/images/cherry.jpg
!/images/twilight.jpg
!/images/flame.jpg
!/images/moss.jpg
!/images/catppuccin.jpg
!/images/horizon.jpg
!/images/auto.jpg
